*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url('https://getwallpapers.com/wallpaper/full/0/a/0/173173.jpg');
    background-color: rgba(35, 35, 35, 0.9);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    max-width: 500px;
    padding: 1rem;
    border-radius: 2rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    transition: 0.2s ease-in-out;
    display: none;
}
.container:hover{
    border: 3px solid rgba(255, 255, 255, 1);;
}
.container-wrapper, .container-ubication, .container-date, .container-max-min, 
.container-weather{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-wrapper, .container-ubication{
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.container-date{
    justify-content: space-between;
}
.container-max-min{
    margin-bottom: 2rem;
}
.container-weather{
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    padding: 3rem;
}
.container-rainy{
    position: absolute;
    margin-top: 4.5rem;
}
.container-ubication{
    margin-bottom: 4rem;
}
.rainy{
    font-size: 0.9rem;
    color: #b6ffff;
}
.celsius-max-min{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
}
.celsius{
    font-size: 3.5rem;
}
img{
    width: 65px;
    margin: 0 0 0 1rem;
}
.city{
    font-size: 1.3rem;
}
.city{
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
}
.city2{
    font-size: 1rem;
    margin-top: 0.5rem;
}
.date, .copy{
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    font-size: 1rem;
}

.loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    top: 27rem;
    left: 55rem;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
    -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
    -0.749em -0.34em 0 -0.477em;
    }
    38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
    -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
    -0.82em -0.09em 0 -0.477em;
    }
    100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@media (max-width: 576px){
    .container{
        max-width: 350px;
    }
    .celsius-max-min{
        font-size: 1.2rem;
    }
    .loader{
        top: 25rem;
        left: 11rem;
    }
}